* {
    box-sizing: border-box
}

.auth-image {
    width: 80%;
    height: 80%;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }